<!DOCTYPE html>
<html>

<head>
    {% include 'includes/head.html.j2' %}
</head>

<body class="rn-light-grey">
    <!-- Top container -->
    {% include 'includes/topbar.html.j2' %}
    <!-- Sidebar/menu -->
    {% include 'includes/sidebar.html.j2' %}

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="rn-overlay rn-hide-large rn-animate-opacity" data-target="#rnSidebar" style="cursor: pointer"
        title="close side menu" id="rnOverlay"></div>
    <!-- !PAGE CONTENT! -->
    <div class="rn-main" style="margin-left: 300px; margin-top: 43px">
        <!-- Header -->
        <header class="rn-container" style="padding-top: 22px">
            <h5>
                <b><i class="bi bi-bar-chart-line-fill"></i> Overview</b>
            </h5>
        </header>

        <div class="rn-accordion">
            {% with item_content="This is the content of section 1.", item_id="content1", item_title="Section 1",
            item_icon="bi bi-circle" %}
            {% include "includes/accordion-item.html.j2" %}
            {% endwith %}
            {% with item_content="This is the content of section 2.", item_id="content2", item_title="Section 2",
            item_icon="bi bi-check-circle-fill" %}
            {% include "includes/accordion-item.html.j2" %}
            {% endwith %}
            {% with item_content="This is the content of section 3.", item_id="content3", item_title="Section 3",
            item_icon="bi bi-slash-circle-fill" %}
            {% include "includes/accordion-item.html.j2" %}
            {% endwith %}
            {% with item_content="This is the content of section 4.", item_id="content4", item_title="Section 4",
            item_icon="bi bi-x-circle-fill" %}
            {% include "includes/accordion-item.html.j2" %}
            {% endwith %}
        </div>
    </div>
    {% include 'includes/scripts.html.j2' %}
</body>

</html>
