/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.rn-serif {
    font-family: serif
}

.rn-sans-serif {
    font-family: sans-serif
}

.rn-cursive {
    font-family: cursive
}

.rn-monospace {
    font-family: monospace
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.rn-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.rn-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.rn-table,
.rn-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.rn-table-all {
    border: 1px solid #ccc
}

.rn-bordered tr,
.rn-table-all tr {
    border-bottom: 1px solid #ddd
}

.rn-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.rn-table-all tr:nth-child(odd) {
    background-color: #fff
}

.rn-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.rn-hoverable tbody tr:hover,
.rn-ul.rn-hoverable li:hover {
    background-color: #ccc
}

.rn-centered tr th,
.rn-centered tr td {
    text-align: center
}

.rn-table td,
.rn-table th,
.rn-table-all td,
.rn-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.rn-table th:first-child,
.rn-table td:first-child,
.rn-table-all th:first-child,
.rn-table-all td:first-child {
    padding-left: 16px
}

.rn-btn,
.rn-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.rn-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.rn-btn,
.rn-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.rn-disabled,
.rn-btn:disabled,
.rn-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.rn-disabled *,
:disabled * {
    pointer-events: none
}

.rn-btn.rn-disabled:hover,
.rn-btn:disabled:hover {
    box-shadow: none
}

.rn-badge,
.rn-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.rn-badge {
    border-radius: 50%
}

.rn-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.rn-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.rn-ul li:last-child {
    border-bottom: none
}

.rn-tooltip,
.rn-display-container {
    position: relative
}

.rn-tooltip .rn-text {
    display: none
}

.rn-tooltip:hover .rn-text {
    display: inline-block
}

.rn-ripple:active {
    opacity: 0.5
}

.rn-ripple {
    transition: opacity 0s
}

.rn-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.rn-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.rn-dropdown-click,
.rn-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.rn-dropdown-hover:hover .rn-dropdown-content {
    display: block
}

.rn-dropdown-hover:first-child,
.rn-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.rn-dropdown-hover:hover>.rn-button:first-child,
.rn-dropdown-click:hover>.rn-button:first-child {
    background-color: #ccc;
    color: #000
}

.rn-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.rn-check,
.rn-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.rn-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.rn-bar-block .rn-dropdown-hover,
.rn-bar-block .rn-dropdown-click {
    width: 100%
}

.rn-bar-block .rn-dropdown-hover .rn-dropdown-content,
.rn-bar-block .rn-dropdown-click .rn-dropdown-content {
    min-width: 100%
}

.rn-bar-block .rn-dropdown-hover .rn-button,
.rn-bar-block .rn-dropdown-click .rn-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.rn-main,
#main {
    transition: margin-left .4s
}

.rn-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.rn-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.rn-bar {
    width: 100%;
    overflow: hidden
}

.rn-center .rn-bar {
    display: inline-block;
    width: auto
}

.rn-bar .rn-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.rn-bar .rn-dropdown-hover,
.rn-bar .rn-dropdown-click {
    position: static;
    float: left
}

.rn-bar .rn-button {
    white-space: normal
}

.rn-bar-block .rn-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.rn-bar-block.rn-center .rn-bar-item {
    text-align: center
}

.rn-block {
    display: block;
    width: 100%
}

.rn-responsive {
    display: block;
    overflow-x: auto
}

.rn-container:after,
.rn-container:before,
.rn-panel:after,
.rn-panel:before,
.rn-row:after,
.rn-row:before,
.rn-row-padding:after,
.rn-row-padding:before,
.rn-cell-row:before,
.rn-cell-row:after,
.rn-clear:after,
.rn-clear:before,
.rn-bar:before,
.rn-bar:after {
    content: "";
    display: table;
    clear: both
}

.rn-col,
.rn-half,
.rn-third,
.rn-twothird,
.rn-threequarter,
.rn-quarter {
    float: left;
    width: 100%
}

.rn-col.s1 {
    width: 8.33333%
}

.rn-col.s2 {
    width: 16.66666%
}

.rn-col.s3 {
    width: 24.99999%
}

.rn-col.s4 {
    width: 33.33333%
}

.rn-col.s5 {
    width: 41.66666%
}

.rn-col.s6 {
    width: 49.99999%
}

.rn-col.s7 {
    width: 58.33333%
}

.rn-col.s8 {
    width: 66.66666%
}

.rn-col.s9 {
    width: 74.99999%
}

.rn-col.s10 {
    width: 83.33333%
}

.rn-col.s11 {
    width: 91.66666%
}

.rn-col.s12 {
    width: 99.99999%
}

@media (min-width:601px) {
    .rn-col.m1 {
        width: 8.33333%
    }

    .rn-col.m2 {
        width: 16.66666%
    }

    .rn-col.m3,
    .rn-quarter {
        width: 24.99999%
    }

    .rn-col.m4,
    .rn-third {
        width: 33.33333%
    }

    .rn-col.m5 {
        width: 41.66666%
    }

    .rn-col.m6,
    .rn-half {
        width: 49.99999%
    }

    .rn-col.m7 {
        width: 58.33333%
    }

    .rn-col.m8,
    .rn-twothird {
        width: 66.66666%
    }

    .rn-col.m9,
    .rn-threequarter {
        width: 74.99999%
    }

    .rn-col.m10 {
        width: 83.33333%
    }

    .rn-col.m11 {
        width: 91.66666%
    }

    .rn-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .rn-col.l1 {
        width: 8.33333%
    }

    .rn-col.l2 {
        width: 16.66666%
    }

    .rn-col.l3 {
        width: 24.99999%
    }

    .rn-col.l4 {
        width: 33.33333%
    }

    .rn-col.l5 {
        width: 41.66666%
    }

    .rn-col.l6 {
        width: 49.99999%
    }

    .rn-col.l7 {
        width: 58.33333%
    }

    .rn-col.l8 {
        width: 66.66666%
    }

    .rn-col.l9 {
        width: 74.99999%
    }

    .rn-col.l10 {
        width: 83.33333%
    }

    .rn-col.l11 {
        width: 91.66666%
    }

    .rn-col.l12 {
        width: 99.99999%
    }
}

.rn-rest {
    overflow: hidden
}

.rn-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.rn-content,
.rn-auto {
    margin-left: auto;
    margin-right: auto
}

.rn-content {
    max-width: 980px
}

.rn-auto {
    max-width: 1140px
}

.rn-cell-row {
    display: table;
    width: 100%
}

.rn-cell {
    display: table-cell
}

.rn-cell-top {
    vertical-align: top
}

.rn-cell-middle {
    vertical-align: middle
}

.rn-cell-bottom {
    vertical-align: bottom
}

.rn-hide {
    display: none !important
}

.rn-show-block,
.rn-show {
    display: block !important
}

.rn-show-inline-block {
    display: inline-block !important
}

@media (max-width:1205px) {
    .rn-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .rn-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .rn-modal {
        padding-top: 30px
    }

    .rn-dropdown-hover.rn-mobile .rn-dropdown-content,
    .rn-dropdown-click.rn-mobile .rn-dropdown-content {
        position: relative
    }

    .rn-hide-small {
        display: none !important
    }

    .rn-mobile {
        display: block;
        width: 100% !important
    }

    .rn-bar-item.rn-mobile,
    .rn-dropdown-hover.rn-mobile,
    .rn-dropdown-click.rn-mobile {
        text-align: center
    }

    .rn-dropdown-hover.rn-mobile,
    .rn-dropdown-hover.rn-mobile .rn-btn,
    .rn-dropdown-hover.rn-mobile .rn-button,
    .rn-dropdown-click.rn-mobile,
    .rn-dropdown-click.rn-mobile .rn-btn,
    .rn-dropdown-click.rn-mobile .rn-button {
        width: 100%
    }
}

@media (max-width:768px) {
    .rn-modal-content {
        width: 500px
    }

    .rn-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .rn-modal-content {
        width: 900px
    }

    .rn-hide-large {
        display: none !important
    }

    .rn-sidebar.rn-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .rn-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .rn-sidebar.rn-collapse {
        display: none
    }

    .rn-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .rn-auto {
        max-width: 100%
    }
}

.rn-top,
.rn-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.rn-top {
    top: 0
}

.rn-bottom {
    bottom: 0
}

.rn-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

.rn-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.rn-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.rn-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.rn-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.rn-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.rn-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.rn-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.rn-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.rn-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.rn-display-container:hover .rn-display-hover {
    display: block
}

.rn-display-container:hover span.rn-display-hover {
    display: inline-block
}

.rn-display-hover {
    display: none
}

.rn-display-position {
    position: absolute
}

.rn-circle {
    border-radius: 50%
}

.rn-round-small {
    border-radius: 2px
}

.rn-round,
.rn-round-medium {
    border-radius: 4px
}

.rn-round-large {
    border-radius: 8px
}

.rn-round-xlarge {
    border-radius: 16px
}

.rn-round-xxlarge {
    border-radius: 32px
}

.rn-row-padding,
.rn-row-padding>.rn-half,
.rn-row-padding>.rn-third,
.rn-row-padding>.rn-twothird,
.rn-row-padding>.rn-threequarter,
.rn-row-padding>.rn-quarter,
.rn-row-padding>.rn-col {
    padding: 0 8px
}

.rn-container,
.rn-panel {
    padding: 0.01em 16px
}

.rn-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.rn-code,
.rn-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px
}

.rn-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.rn-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.rn-card,
.rn-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.rn-card-4,
.rn-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.rn-spin {
    animation: rn-spin 2s infinite linear
}

@keyframes rn-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.rn-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.rn-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.rn-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.rn-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.rn-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.rn-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.rn-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.rn-animate-input {
    transition: width 0.4s ease-in-out
}

.rn-animate-input:focus {
    width: 100% !important
}

.rn-opacity,
.rn-hover-opacity:hover {
    opacity: 0.60
}

.rn-opacity-off,
.rn-hover-opacity-off:hover {
    opacity: 1
}

.rn-opacity-max {
    opacity: 0.25
}

.rn-opacity-min {
    opacity: 0.75
}

.rn-greyscale-max,
.rn-grayscale-max,
.rn-hover-greyscale:hover,
.rn-hover-grayscale:hover {
    filter: grayscale(100%)
}

.rn-greyscale,
.rn-grayscale {
    filter: grayscale(75%)
}

.rn-greyscale-min,
.rn-grayscale-min {
    filter: grayscale(50%)
}

.rn-sepia {
    filter: sepia(75%)
}

.rn-sepia-max,
.rn-hover-sepia:hover {
    filter: sepia(100%)
}

.rn-sepia-min {
    filter: sepia(50%)
}

.rn-tiny {
    font-size: 10px !important
}

.rn-small {
    font-size: 12px !important
}

.rn-medium {
    font-size: 15px !important
}

.rn-large {
    font-size: 18px !important
}

.rn-xlarge {
    font-size: 24px !important
}

.rn-xxlarge {
    font-size: 36px !important
}

.rn-xxxlarge {
    font-size: 48px !important
}

.rn-jumbo {
    font-size: 64px !important
}

.rn-left-align {
    text-align: left !important
}

.rn-right-align {
    text-align: right !important
}

.rn-justify {
    text-align: justify !important
}

.rn-center {
    text-align: center !important
}

.rn-border-0 {
    border: 0 !important
}

.rn-border {
    border: 1px solid #ccc !important
}

.rn-border-top {
    border-top: 1px solid #ccc !important
}

.rn-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.rn-border-left {
    border-left: 1px solid #ccc !important
}

.rn-border-right {
    border-right: 1px solid #ccc !important
}

.rn-topbar {
    border-top: 6px solid #ccc !important
}

.rn-bottombar {
    border-bottom: 6px solid #ccc !important
}

.rn-leftbar {
    border-left: 6px solid #ccc !important
}

.rn-rightbar {
    border-right: 6px solid #ccc !important
}

.rn-section,
.rn-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.rn-margin {
    margin: 16px !important
}

.rn-margin-top {
    margin-top: 16px !important
}

.rn-margin-bottom {
    margin-bottom: 16px !important
}

.rn-margin-left {
    margin-left: 16px !important
}

.rn-margin-right {
    margin-right: 16px !important
}

.rn-padding-small {
    padding: 4px 8px !important
}

.rn-padding {
    padding: 8px 16px !important
}

.rn-padding-large {
    padding: 12px 24px !important
}

.rn-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.rn-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.rn-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.rn-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.rn-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.rn-padding-top-64 {
    padding-top: 64px !important
}

.rn-padding-top-48 {
    padding-top: 48px !important
}

.rn-padding-top-32 {
    padding-top: 32px !important
}

.rn-padding-top-24 {
    padding-top: 24px !important
}

.rn-left {
    float: left !important
}

.rn-right {
    float: right !important
}

.rn-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.rn-transparent,
.rn-hover-none:hover {
    background-color: transparent !important
}

.rn-hover-none:hover {
    box-shadow: none !important
}

.rn-accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rn-accordion-item {
    border-top: 1px solid #ccc;
}

.rn-accordion-item:first-child {
    border-top: none;
}

.rn-accordion-btn {
    display: flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.rb-accordion-btn:hover {
    background: #ddd;
}

.rn-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    border-top: none;
    background: #fff;
}
.rn-accordion-content.open {
    border-top: 1px solid #ccc;
}

.rn-status-btn-icon {
    font-size: 1.6rem;
}
