<div class="rn-accordion-item">
    <button class="rn-accordion-btn" data-target="#{{ item_id }}">
        <strong>{{ item_title }}</strong>
        <i class="{{ item_icon }} rn-status-btn-icon"></i>
    </button>
    <div class="rn-accordion-content" id="{{ item_id }}">
        <p>{{ item_content }}</p>
    </div>
</div>
