<nav class="rn-sidebar rn-collapse rn-white rn-animate-left" style="z-index: 3; width: 300px" id="rnSidebar">
    <br />
    <hr />
    <div class="rn-container">
        <h5>Dashboard</h5>
    </div>
    <div class="rn-bar-block">
        <a href="#" data-target="#rnSidebar"
            class="rn-bar-item rn-button rn-padding-16 rn-hide-large rn-dark-grey rn-hover-black close-sidebar"
            title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
        <a href="/status" class="rn-bar-item rn-button rn-padding"><i class="bi bi-info-circle-fill"></i>  Status</a>
        <a href="/logs" class="rn-bar-item rn-button rn-padding"><i class="bi bi-clock-history"></i>  Logs</a>
    </div>
</nav>
