<div class="rn-bar rn-top rn-black rn-large" style="z-index: 4">
    <button class="rn-bar-item rn-button rn-hide-large rn-hover-none rn-hover-text-light-grey toggle-sidebar"
        data-target="#rnSidebar">
        <i class="bi bi-list"></i> Menu
    </button>
    <span class="rn-bar-item rn-right">RedNoodles AiTM</span>
</div>
