<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}Base{% endblock %}</title>
    {% include 'includes/head.html.j2' %}
    {% include 'includes/styles.html.j2' %}
    {% endblock %}
</head>

<body class="rn-light-grey">
    {% include 'includes/topbar.html.j2' %}
    {% include 'includes/sidebar.html.j2' %}

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="rn-overlay rn-hide-large rn-animate-opacity" data-target="#rnSidebar" style="cursor: pointer"
        title="close side menu" id="rnOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="rn-main" style="margin-left: 300px; margin-top: 43px">
        <header class="rn-container" style="padding-top: 22px">
            <h5>
                {% block content_header %}<b><i class="bi bi-bar-chart-line-fill"></i> Content Header</b>{% endblock %}
            </h5>
        </header>

        {% block content %}
        {% endblock %}
    </div>
    {% include 'includes/scripts.html.j2' %}
</body>

</html>
