{% extends "base.html.j2" %}
{% block title %}Logs{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content_header %}<b><i class="bi bi-clock-history"></i> Logs</b>{% endblock %}
{% block content %}
 <ul id="logList"></ul>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="static/js/socket_logs.js"></script>
{% endblock %}
